.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: var(--color-avatar-bg);
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0 1px var(--color-avatar-border);
    box-shadow: 0 0 0 1px var(--color-avatar-border)
}

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent
}

.Header {
    z-index: 32;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-header-text);
    background-color: var(--color-header-bg)
}

.Header,
.Header-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.Header-item {
    margin-right: 16px;
    -ms-flex-item-align: stretch;
    align-self: stretch
}

.Header-item--full {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto
}

.Header-link {
    font-weight: 600;
    color: var(--color-header-logo);
    white-space: nowrap
}

.dashboard-notice {
    position: relative;
    padding: 15px 15px 15px 55px;
    margin-bottom: 20px;
    font-size: 14px;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-border-primary);
    border-radius: 6px
}

.dashboard-notice .dismiss {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    color: var(--color-auto-gray-4);
    cursor: pointer
}

.dashboard-notice .dismiss:hover {
    color: var(--color-text-secondary)
}

.dashboard-notice .notice-icon {
    position: absolute;
    top: 15px;
    left: 15px
}

}

.rounded-1 {
    border-radius: 6px !important
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

nav {
    display: block
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

:root,
[data-color-mode=light] {
    --color-text-white: #fff;
    --color-icon-danger: #d73a49;
    --color-border-primary: #e1e4e8;
    --color-header-bg: #24292e;
    --color-header-logo: #fff;
    --color-filter-item-bar-bg: #eff3f6;
    --color-underlinenav-counter-text: #24292e;
    --color-header-search-bg: #24292e;
    --color-header-search-border: #444d56;
}

.Box {
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border-primary);
    border-radius: 6px
}

.tooltipped:after,
.tooltipped:before {
    position: absolute;
    display: none;
    pointer-events: none;
    opacity: 0
}

@media (min-width:768px) {
    .flex-md-row {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }

    .flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important
    }

    .flex-md-self-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important
    }

    .flex-md-order-none {
        -webkit-box-ordinal-group: inherit !important;
        -ms-flex-order: inherit !important;
        order: inherit !important
    }
}


.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}

.d-inline-block {
    display: inline-block !important
}

.d-none {
    display: none !important
}

@media (min-width:768px) {

    .d-md-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }

    .d-md-none {
        display: none !important
    }
}

.header-search-wrapper {
    display: table;
    width: 100%;
    max-width: 100%;
    padding: 0;
    font-size: inherit;
    font-weight: 400;
    color: var(--color-text-white);
    vertical-align: middle;
    background-color: var(--color-header-search-bg);
    border: 1px solid var(--color-header-search-border);
    -webkit-box-shadow: none;
    box-shadow: none
}

.header-search-input {
    display: table-cell;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    font-size: inherit;
    color: inherit;
    background: none;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

@media (min-width:768px) {
    .header-search {
        max-width: 272px
    }
}